name: Container Image

on:
  push:
    branches:
      - main
    paths:
      - 'Kepware.Api/**'
      - 'KepwareSync.Service/**'
      - '.github/workflows/docker-build-and-push.yml' 
      - '!**/*.md' # Exclude markdown files

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
        packages: write
        contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
            fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
      - uses: dotnet/nbgv@master
        id: nbgv
        with:
          setAllVars: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Convert to lowercase
        id: lowercase
        run: echo "REPO_OWNER_LOWER=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Build and push Docker image
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./KepwareSync.Service/Dockerfile
          push: true
          tags: ghcr.io/${{ env.REPO_OWNER_LOWER }}/kepware-sync-service:latest
          labels: |
            org.opencontainers.image.source=${{ github.repository }}
